* {
    box-sizing: border-box;
}


body {
    background-color: rgb(217, 236, 216);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 112,5%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

