* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(248, 247, 242);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 112,5%;
    line-height: 1.5;
    margin-top: 1rem;
    opacity: 0.9;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

li {
    list-style-type: none;
    }

header {
    border-bottom: solid 0.5px rgb(126, 9, 9);
    border-top: solid 0.5px rgb(126, 9, 9);
    background-color: rgb(221, 219, 210);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0 2.4rem 0;
}

.headerpic {
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
}

.headerpic img {
    width: 300px;
}

.headermiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
}

.welcome {
    font-size: 20px;
    white-space: nowrap;
}

nav ul {
display: flex;
align-items: space-around;
margin: 0 0 1rem 0;
}

nav li {
    margin: 0 0.4rem 0 0;
}

a, #phone {
    margin: 0 8px 0 0;
    color: rgb(26, 26, 131);
    font-weight: 800;
}

.headerright a:hover, #mail a:hover {
    background-color: black;
    color: rgb(248, 247, 242)
}

.tagfield {
    margin: 1.2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagfield h2 {
    margin: 0 0 1rem 0;
}

.tagfield ul {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
}

.tagfield li {
    background-color: rgb(216, 215, 233);
    color: black;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 0 12px 1.5rem  0;
    border: 0.1rem solid rgba(71, 11, 11, 0.6);
    box-shadow: inset 0 0 2px 2px rgba(71, 11, 11, 0.6);
    list-style-type: none;
    text-align: center; 
}

.notwrap {
    white-space: nowrap;
}

#giticon {
    margin: 0.8rem;
    background-color: rgb(248, 247, 242);
}

#giticon:hover {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color:rgba(71, 11, 11, 0.6);
}

#biography {
    margin: 2.2rem 3rem 1.8rem;
    text-align: center;
}

#biography h2 {
    padding: 0 0 0.3rem 0; 
    margin: 0 0 0.5rem 0;
    text-align: center;
    
}

h3 {
    padding: 0 0 0.3rem 0; 
    margin: 1rem;
    text-align: center;
}

.capstones {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.capstonelist {
    max-width: 350px;
    height: 200px;
    padding: 8px;  
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.topcapstone {
    text-align: center;
}

.topcapstone img {
    filter: contrast(120%);
}

#neuefische:hover {
    border-bottom: black 1px solid;
}

.capstones p {
    margin: 1.5rem 3rem 1.8rem;
    text-align: center;
}

.capstones span {
    white-space: nowrap;
} 

address {
    margin: 0 0 35px 0;
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    white-space: nowrap;
    gap: 8px; 
}

address div {
    padding: 1rem;
    border: solid 2px rgb(126, 9, 9);
    width: 250px;
    border-radius: 53px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    flex-shrink: 0;
}

.material-icon {
    margin-right: 3px;
}

#linkedinicon {
    padding: 0.5rem 1rem;
}

#mail, #phone {
    font-style: normal;
}

#private {
    padding: 2rem;
    background-color: rgb(221, 219, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(71, 11, 11, 0.6)
}

.mimicontainer {
    background-color: white;
    padding: 2rem;
    max-width: 400px;
    flex-shrink: 1.5;
    display: flex;
    justify-content: center;
}

#private figcaption {
    text-align: center;
    padding: 1rem 0 0 0;
}

footer {
    font-family: fantasy;
    background-color: black;
    color: white;
    font-weight: 200;
    padding: 0.7rem 0 0.7rem 1.5rem;
}

@media (max-width: 310px) {
    .welcome {
        display: none;
    }
  
}

