.button {
  width: 150px;
  height: 70px;
  border: black;
  background: var(--cherrybrown);
  border-radius: 10pt;
  box-shadow: 0 0 3pt 1pt grey;
  color: white;
  font-family: fantasy;
}

.button--colorchange {
  color: black;
  background-color: yellowgreen;
}

.button--small {
  width: 100px;
  height: 55px;
}
