.contact {
  margin: 0 0 35px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 8px;
  font-style: normal;
}

.contact__button-style {
  padding: 1rem;
  border: solid 2px var(--cherrybrown);
  width: 250px;
  border-radius: 53px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  flex-shrink: 0;
}

.contact__button-style > img {
  margin: 0 3px;
}

.contact__button-style--linkedin {
  padding: 0.5rem 1rem;
}

.contact__button-style--linkedin-link {
  text-align: center;
}

.contact__button-style--phone-text {
  margin: 0 8px 0 0;
  color: rgb(26, 26, 131);
  font-weight: 800;
}

.contact__button-style:hover {
  background-color: var(--cherrybrown);
  color: var(--creme);
  opacity: 0.8;
}

.contact__button-style--mail:hover {
  color: var(--creme);
}
