.insight {
  padding: 2rem;
  background-color: rgb(221, 219, 210);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--bloodyred);
}

.insight-container {
  background-color: white;
  padding: 2rem;
  max-width: 400px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--bloodyred);
}

.insight__figure {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.insight__figcaption {
  text-align: center;
  padding: 1rem 0 0 0;
}

.insight__img {
  max-width: 100%;
  height: auto;
}
